@import url('https://fonts.googleapis.com/css?family=Oswald|Eczar');
body {
    overflow: hidden;
    background:#00C7FF;
    font-size:20px;
}
/*
    * Outer, middle, center technique from https://stackoverflow.com/a/6182661/450733
    */
#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
    
#middle {
    display: table-cell;
    vertical-align: middle;
}
    
#inner {
    margin-left: auto;
    margin-right: auto;
    height:350px;
    width:350px;
    max-width: 350px;
    max-height: 350px;
    position: relative;
}

.screen {
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.screen-1 {
    font-family: 'Oswald', sans-serif;
}

.screen-1 h2:nth-of-type(1) {
    /*transform:translateY(1.75rem);*/
}

.screen-2 {
    font-family: 'Eczar', serif;
}

.letter {
    display:inline-block;
}
