@import url('https://fonts.googleapis.com/css?family=Oswald|Eczar|Francois+One|Abril+Fatface|Righteous');
body {
    overflow: hidden;
    background:#7fa6b6;
    font-size:20px;
}
/*
* Outer, middle, center technique from https://stackoverflow.com/a/6182661/450733
*/
#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
    
#middle {
    display: table-cell;
    vertical-align: middle;
}
    
#inner {
    margin-left: auto;
    margin-right: auto;
    height:350px;
    width:350px;
    max-width: 350px;
    max-height: 350px;
    position: relative;
}

.screen {
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.screen-1 {
    font-family: 'Oswald', sans-serif;
}

.screen-2 {
    font-family: 'Eczar', serif;
}

.screen-3 {
    font-family: 'Francois One', sans-serif;
    display:flex;
}

.screen-4 {
    font-family: 'Righteous', sans-serif;
}

.screen-5 {
    font-family: 'Abril Fatface', sans-serif;
}

.letter {
    display:inline-block;
}
